.place__title {
    margin:0;
    grid-area: title;
    color: #FFF;
    width: 460px;
    max-height: 152px;
    font-size: 72px;
    font-family: Inter;
    font-weight: 900;
    line-height: 76px;
    align-self: self-end;
}
