.photo-grid {
    max-width: 1184px;
    max-height: 671px;
    margin: 0 48px 92px 48px;
    display: grid;
    justify-items: stretch;
    grid-template-columns: repeat(auto-fit, minmax(284px,1fr));
    grid-gap: 16px;
}