.place__paragraphs {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

@media screen and (max-width:1100px) {
    .place__paragraphs {
        gap: 27px;
    }
}

@media screen and (max-width:900px) {
    .place__paragraphs {
        gap: 25px;
    }
}

@media screen and (max-width:500px) {
    .place__paragraphs {
        margin: 25px 16px 0 16px;

    }
}