.cover__overlay{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-image: url(../../../images/cover-trains.jpg);
    width: 100%;
    background-size: cover;
    align-items: center;
    z-index: 0;
    position: relative;
}

.cover__overlay::before{
    content: "";
    position: absolute;
    top:0;
    right: 0;
    bottom:0;
    left:0;
    background: #2A2C2F;
    background-position: center;
    opacity: 0.3;
    width: 100%;
}

.cover__overlay:hover::before{
    opacity: 0.8;
}
